<h3>New User Please Register here</h3>

<form action="/users" method="post">

  <div class="form-group">
    <label>Name
      <input type="text" name="user[name]">
    </label>
  </div>

  <!-- <div class="form-group">
    <label>Address
      <input type="text" name="user[address]">
    </label>
  </div>

  <div class="form-group">
    <label>Weird other address
      <input type="text" name="name">
    </label>
  </div> -->

  <input type="submit" value="submit">
</form>
